/* Two-column cheatsheet stylesheet for asciidoctor-pdf.js */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@page {
  size: letter;
}

body {
  font-family: 'Open Sans', sans-serif;
}

:root,
.pagedjs_page {
  --pagedjs-pagebox-width: 8.5in;
  --pagedjs-pagebox-height: 11in;
  --pagedjs-margin-top: 0.5in;
  --pagedjs-margin-right: 0.5in;
  --pagedjs-margin-bottom: 0.25in;
  --pagedjs-margin-left: 0.5in;
}

.pagedjs_page_content {
  column-count: 2 !important;
  column-width: 3in !important;
  column-gap: 0.5in !important;
  column-fill: balance;
}

div.title-document,
div.content {
  padding: 0;
}

/* No margin for headings at top of page */

div.title-document > h1,
div.pagedjs_page_content div.sect1:first-of-type > h2,
div.pagedjs_page_content div.sect2:first-of-type > h3,
div.pagedjs_page_content div.sect3:first-of-type > h4,
div.pagedjs_page_content div.sect4:first-of-type > h5,
div.pagedjs_page_content div.sect5:first-of-type > h6 {
  margin-top: 0;
  border-top: none;
}

/* Heading sizes scaled in major thirds, Couchbase red */

h1, h2, h3, [data-id="toctitle"], .sidebarblock>.content>.title, h4, h5, h6 {
  color: #ea2328;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.title-document h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.56em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

/* Preamble same size as body text */

#preamble > .sectionbody > .paragraph:first-of-type p {
  font-size: 0.95rem;
}

/* Attempt to keep headers and sections together */

.paragraph {
  break-inside: avoid;
}

.sect3,
.sect4,
.sect5 {
  break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6,
[data-break-after='avoid'] {
  break-after: avoid;
}

[data-previous-break-after='avoid'] {
  break-before: avoid;
}

/* Hide empty split divs at the end of a page */

.sect1:empty,
.sect2:empty,
.sect3:empty,
.sect4:empty,
.sect5:empty {
  display: none;
}

/* Text alignment */

div.title-document,
.dlist:not(.text-left):not(.text-right):not(.text-center) dd p, 
.ulist:not(.text-left):not(.text-right):not(.text-center) li p,
.olist:not(.text-left):not(.text-right):not(.text-center) li p,
.paragraph:not(.text-left):not(.text-right):not(.text-center) p,
.admonitionblock:not(.text-left):not(.text-right):not(.text-center) .content {
  text-align: left;
}

/* Outdent code blocks so the code text is aligned with body text */

.listingblock pre.highlightjs > code {
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.audioblock,
.imageblock,
.literalblock,
.listingblock,
.stemblock,
.videoblock {
  margin-bottom: 1rem;
}
