/* Two-column cheatsheet stylesheet for asciidoctor-pdf.js */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@page {
  size: letter;
  margin-top: 0.5in;
  margin-right: 0.5in;
  margin-bottom: 0in;
  margin-left: 0.5in;
  @top-left-corner {
    content: normal;
    margin: none;
    border: none;
  }
  @top-left {
    content: normal;
    margin: none;
    border: none;
  }
  @top-center {
    content: normal;
    margin: none;
    border: none;
  }
  @top-right {
    content: normal;
    margin: none;
    border: none;
  }
  @top-right-corner {
    content: normal;
    margin: none;
    border: none;
  }
  @left-top {
    content: normal;
    margin: none;
    border: none;
  }
  @left-middle {
    content: normal;
    margin: none;
    border: none;
  }
  @left-bottom {
    content: normal;
    margin: none;
    border: none;
  }
  @right-top {
    content: normal;
    margin: none;
    border: none;
  }
  @right-middle {
    content: normal;
    margin: none;
    border: none;
  }
  @right-bottom {
    content: normal;
    margin: none;
    border: none;
  }
  @bottom-left-corner {
    content: normal !important;
    margin: none;
    border: none !important;
  }
  @bottom-left {
    content: normal !important;
    margin: none;
    border: none !important;
  }
  @bottom-center {
    content: normal !important;
    margin: none;
    border: none !important;
  }
  @bottom-right {
    content: normal !important;
    margin: none;
    border: none !important;
  }
  @bottom-right-corner {
    content: normal !important;
    margin: none;
    border: none !important;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

.pagedjs_page_content {
  column-count: 2 !important;
  column-width: 3in !important;
  column-gap: 0.5in !important;
  column-fill: balance;
}

div.title-document,
div.content {
  padding: 0;
}

/* No margin for headings at top of page */
/* FIXME: Make this work for all headings after a page break */

div.sectionbody[data-split-from] div.sect2 > h3 {
  margin-top: 0 !important;
}

/* Heading sizes scaled in major thirds, Couchbase red */

h1, h2, h3, [data-id="toctitle"], .sidebarblock>.content>.title, h4, h5, h6 {
  color: #ea2328;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.title-document h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.56em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

/* Preamble same size as body text */

#preamble > .sectionbody > .paragraph:first-of-type p {
  font-size: 0.95rem;
}

/* Attempt to keep headers and sections together */

.paragraph {
  break-inside: avoid;
}

.sect2 {
  break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6,
[data-break-after='avoid'] {
  break-after: avoid;
}

[data-previous-break-after='avoid'] {
  break-before: avoid;
}

/* Text alignment */

div.title-document,
.dlist:not(.text-left):not(.text-right):not(.text-center) dd p, 
.ulist:not(.text-left):not(.text-right):not(.text-center) li p,
.olist:not(.text-left):not(.text-right):not(.text-center) li p,
.paragraph:not(.text-left):not(.text-right):not(.text-center) p,
.admonitionblock:not(.text-left):not(.text-right):not(.text-center) .content {
  text-align: left;
}

/* Outdent code blocks so the code text is aligned with body text */

.listingblock pre.highlightjs > code {
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.audioblock,
.imageblock,
.literalblock,
.listingblock,
.stemblock,
.videoblock {
  margin-bottom: 1rem;
}
